* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: start;
  align-self: center;
}

label {
  color: #4a5568;
}

form ::placeholder {
  font-size: 0.9rem;
}

.folder-file-btn {
  background-color: #cbd5e0;
  color: black;
  font-weight: 600;
  min-width: 120px;
}

.logging-btn {
  background-color: #4a5568;
  color: white;
}

button {
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  width: 378px;
}

label {
  margin-bottom: -8px;
}

select {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf2f7;
  padding: 2%;
  border-bottom: 1px solid #cbd5e0;
}

.time {
  color: rgb(99, 98, 98);
  font-style: italic;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 6% 2% 6%;
  min-height: 100vh;
}

.add-btn {
  display: flex;
  gap: 30px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: auto;
  width: 100%;
}

#github {
  text-decoration: none;
  color: white;
  margin-left: 6px;
}

.back {
  text-decoration: none;
  color: #4a5568;
  font-style: italic;
}

#github:hover {
  color: #8044e2;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.folder-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.file-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.file-header-name,
.file-name {
  margin-right: auto;
}

.folder-card {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #edf2f7;
  justify-content: space-between;
  align-items: center;
}

.file-card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(4, 100px);
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #edf2f7;
}

.file-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(4, 100px);
  padding-top: 8px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #cbd5e0;
  padding-bottom: 4px;
}

.file-card p {
  text-align: center;
}

.name-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.name-link:hover {
  cursor: pointer;
  color: #8044e2;
}

.folder-card:hover {
  background-color: #f7fafc;
}

.folder-header {
  border-bottom: 1px solid #cbd5e0;
  padding-bottom: 4px;
}

form .delete-btn {
  background-color: transparent;
}

form .delete-btn:hover {
  color: #242c3a;
}

img {
  width: 20px;
}
