<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="icon" href="../folder.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <% if (currentUser) {%>
      <h1><%= currentUser.name %>'s drive</h1>
      <div class="nav">
        <a href="/log-out">
          <button class="logging-btn">Log out</button>
        </a>
      </div>

      <% } else {%>
      <h1>Log in to be able to upload the files</h1>
      <div class="nav">
        <a href="/log-in">
          <button class="logging-btn">Log in</button>
        </a>

        <a href="/">
          <button class="logging-btn">Sign up</button>
        </a>
      </div>

      <% } %>
    </header>
    <% if (currentUser) {%>
    <div class="container">
      <div class="add-btn">
        <a href="/add-folder">
          <button class="folder-file-btn">Create folder</button>
        </a>
        <a href="/add-file">
          <button class="folder-file-btn">Upload file</button>
        </a>
      </div>

      <div class="folder-grid">
        <div class="folder-header">
          <h3>Name</h3>
        </div>
        <% folders.forEach((folder) => { %>
        <div class="folder-card">
          <a class="name-link" href="/folder/<%= folder.id %>">
            <p><%= folder.name %></p>
          </a>
          <form
            action="/folder/<%= folder.id %>"
            method="POST"
            style="display: inline"
            class="delete"
          >
            <button
              type="submit"
              class="delete-btn"
              onclick="return confirm('Are you sure you want to delete this folder?');"
            >
              <img src="../delete.png" alt="trash bin" />
            </button>
          </form>
        </div>
        <%})%>
      </div>
    </div>
    <% } else {%>

    <div class="container">
      <form action="/sign-up" method="POST">
        <input type="text" id="name" name="name" placeholder="Name" />
        <input type="email" id="email" name="email" placeholder="Email" />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <input
          type="password"
          id="confirm-password"
          name="confirmPassword"
          placeholder="Confirm password"
        />
        <button class="logging-btn" type="submit">Sign-up</button>
        <a href="/log-in"> Log in </a>
      </form>
    </div>
    <% } %>

    <footer>
      designed by
      <a id="github" href="https://github.com/dasha-solomkina"
        >dasha-solomkina</a
      >
    </footer>
  </body>
</html>
