<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="icon" href="../folder.png" type="image/x-icon" />

    <title>Log in</title>
  </head>
  <body>
    <header>
      <h1>Log into your account</h1>
    </header>

    <div class="container">
      <form action="/log-in" method="POST">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="your@gmail.com"
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <button class="logging-btn" type="submit">Log in</button>
        <a href="/"> Sign up </a>
      </form>
    </div>
    <footer>
      designed by
      <a id="github" href="https://github.com/dasha-solomkina"
        >dasha-solomkina</a
      >
    </footer>
  </body>
</html>
