body {
    font-family: 'Roboto', sans-serif;
}
.profileSidebar {
    position: fixed; 
    right: 0;
    top: 0;
    width: 300px; 
    height: 100%; 
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;
    z-index: 1;
}

.imgContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pfp {
    border-radius: 50%; 
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin-right: 10px;
}

.profileDetails {
    margin-bottom: 20px;
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
}
.editInput {
    font-size: 1rem; 
    padding: 5px; 
    margin: 10px auto; 
    display: block;
    width: 80%;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bio {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 10px;
    text-align: center;
}

.memberList {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.memberList li {
    padding: 5px 0;
    text-align: center;
}

.hideButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hideButton > img {
    height: 35px;
    width: 35px;
}

.editButtons {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.editButtons:hover {
    background-color: #0056b3;
}

.newInput {
    border: none;
    background-color: #f8f9fa;
    height: 36px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}
.memberItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.description {
    background-color: #f0f0f0;
    padding: 7px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 7px;
}
.memberPic {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover; 
}

@media (max-width: 826px) {
    .profileSidebar {
        width: 200px;
    }
}

@media (max-width: 540px) {
    .profileSidebar {
        width: 90%;
    }
    
    .hideButton {
        left: 5%;
    }
}